.sidebar-button.nav-link {
    text-transform: uppercase;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px 0;
    margin-left: 10px;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
    border-bottom: 1px solid black;
}

.sidebar-button:hover,
.sidebar-button.active {
    color: #688BF9;
    background-color: #bdc3c6;
    border-right: 8px solid #688BF9;
    padding-left: 5px;

}

.sidebar {
    position: relative;
    top: 0;
    width: 200px;
    background-color: #E5E8EA;
    border-right: 1px solid black;
    z-index: 2; 
    height: 80.5vh;
}
